mysql/data
mysql/wnjpn.db
mysql/sqls/wnjpn.mysql.dump
src/production/__pycache__
src/production/modules/__pycache__
src/production/modules/config.py
src/production/reviews/*
batch/production/modules/__pycache__
batch/production/reviews
src/api/__pycache__
src/api/modules/__pycache__
src/__pycache__
.idea/workspace.xml
.gitattributes
.idea/
