mysql/data
src/production/__pycache__
src/production/modules/__pycache__
src/production/modules/config.py
src/production/reviews/*
batch/production/modules/__pycache__
batch/production/reviews
src/api/__pycache__
src/__pycache__